
@model ExhibitGrid.ViewModel.GridVm

<script src="~/Scripts/Grid/grid.js"></script>
<script src="~/Scripts/Grid/directives.js"></script>
<script src="~/Scripts/Grid/modelService.js"></script>
<link href="~/Content/gridTable.min.css" rel="stylesheet" />
<script src="~/Scripts/kendo/2016.1.112/kendo.all.min.js"></script>
<link href="~/Content/kendo/2016.1.112/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2016.1.112/kendo.silver.min.css" rel="stylesheet" />

<div ng-app="app">
    <div id="grid-wrapper" ng-controller="gridController as gridCtrl">
        <table class="table table-bordered exhibit-table">
            <colgroup>
                @{
                    var headerLevels = Model.ColumnHeaders.Select(ch => ch.Level).Distinct().OrderByDescending(i => i);
                    var firstRow = true;
                    var headerLevelZero = Model.ColumnHeaders.Where(c => c.Level == 0).OrderBy(c => c.Order);
                }
                @if (Model.HasCollapseColumn)
                {
                    <col span="1" style="width: 32px;">
                }
                @if (Model.HasSelectColumn)
                {
                    <col span="1" style="width: 32px;">
                }
                @if (Model.HasAddColumn)
                {
                    <col span="1" style="width: 32px;">
                }
                @if (Model.HasDeleteColumn)
                {
                    <col span="1" style="width: 32px;">
                }
                @foreach (var header in headerLevelZero.Where(h => !h.IsHidden))
                {
                    <col span="1" style="width: @header.Width;">
                }
            </colgroup>
            <thead>
                @foreach (var level in headerLevels)
                {
                    <tr>
                        @if (firstRow)
                        {
                            <th class="grid-name" colspan="@(Model.NumColumns - headerLevelZero.Where(h => h.HeaderIsVisible && !h.IsHidden).Count())" rowspan="@headerLevels.Count()">
                                @Model.GridName
                            </th>
                            <th id="RowText" style="display:none;">
                            </th>
                        }
                        @foreach (var header in Model.ColumnHeaders.Where(h => h.Level == level && h.HeaderIsVisible && !h.IsHidden).OrderBy(h => h.Order))
                        {
                            <th scope="col" colspan="@(header.ColSpan)">
                                @header.Text
                            </th>
                        }
                        @{ firstRow = false; }
                    </tr>
                }
            </thead>
            <tbody>
                <tr ng-repeat="row in gridCtrl.GridVm.DataRows | filter:{IsHidden: false} track by row.RowCode " ng-controller="rowController as rowCtrl" ng-class="::row.Class">

                    @if (Model.HasCollapseColumn)
                    {
                        <td colspan="1" ng-if="::(row.Class == 'data-row' || row.Class == 'total-row')">
                            <i class="fa fa-plus fa-lg" ng-show="row.CanCollapse"></i>
                        </td>
                    }
                    @if (Model.HasSelectColumn)
                    {
                        <td colspan="1" ng-if="::(row.Class == 'data-row' || row.Class == 'total-row')">
                            <input type="checkbox" ng-show="row.CanSelect" ng-model="row.IsSelected">
                        </td>
                    }
                    @if (Model.HasAddColumn)
                    {
                        <td colspan="1" ng-if="::(row.Class == 'data-row' || row.Class == 'total-row')">
                            <i class="fa fa-user-plus fa-lg" ng-show="row.CanAdd" style="cursor:pointer" ng-click="rowCtrl.addRow()"></i>
                        </td>
                    }
                    @if (Model.HasDeleteColumn)
                    {
                        <td colspan="1" ng-if="::(row.Class == 'data-row' || row.Class == 'total-row')">
                            <i class="fa fa-trash fa-lg" ng-show="row.CanDelete" style="cursor:pointer" ng-click="rowCtrl.deleteRow()"></i>
                        </td>
                    }
                    @for (int i = 0; i < headerLevelZero.Count(); i++)
                    {
                        var col = headerLevelZero.ElementAt(i);
                        if (!col.IsHidden)
                        {
                            if (col.ColCode == "RowText")
                            {
                                <th scope="row" colspan="{{::row.Cells[@i].ColSpan}}">
                                    <div text-cell cell-vm="row.Cells[@i]">
                                    </div>
                                </th>
                            }
                            else
                            {
                                <td ng-show="{{::row.Cells[@i].ColSpan > 0}}" colspan="{{::row.Cells[@i].ColSpan}}" ng-if="::(row.Class == 'data-row' || row.Class ==  'total-row')" headers="{{::row.Text}} {{::row.Cells[@i].ColumnHeader}}">
                                    <div @(col.Type + "-cell") cell-vm="row.Cells[@i]" >
                                    </div>
                                </td>
                            }
                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script>

    (function (gridModel) {

        gridModel.grid = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

    }(window.gridModel = window.gridModel || {} ));

</script>
