@using ExhibitGrid.ViewModel.v2;
@model ExhibitGrid.ViewModel.v2.GridVm

<script src="~/Scripts/GridV2/grid.v2.js"></script>
<script src="~/Scripts/GridV2/directives.v2.js"></script>
<script src="~/Scripts/GridV2/modelService.v2.js"></script>
<link href="~/Content/gridTable.min.css" rel="stylesheet" />

<div ng-app="app.v2">
    <div ng-controller="gridController as gridCtrl">
        <table class="table table-bordered exhibit-table">
            <colgroup>
                @if (Model.HasCollapseColumn)
                {
                    <col span="1" style="width: 32px;">
                }
                @if (Model.HasSelectColumn)
                {
                    <col span="1" style="width: 32px;">
                }
                @if (Model.HasCrudColumn)
                {
                    <col span="1" style="width: 32px;">
                }
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 75px;">
                <col span="1" style="width: 100px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 200px;">
            </colgroup>

            @{
                var headerLevels = Model.ColumnHeaders.Select(ch => ch.Level).Distinct().OrderByDescending(i => i);
                var firstRow = true;
            }
            @*if (hasCollapseCol)
                {
                    <colgroup span="1">
                        <col width="100" />
                    </colgroup>
                }
                if (hasSelectCol)
                {
                    <colgroup span="1" />
                }
                if (hasCrudCol)
                {
                    <colgroup span="1" />
                }
                var minLevelHeaders = Model.ColumnHeaders.Where(h => h.Level == headerLevels.Min()).OrderBy(h => h.Order);
                for (int i = Model.DataRows[0].Cells.Count() - minLevelHeaders.Count(); i > 0; i--)
                {
                    <colgroup span="1" width="200px"/>
                }
                foreach (var header in minLevelHeaders)
                {
                    <colgroup span="1" width="@header.ColSpan" />
                }*@
            <thead>
                @foreach (var level in headerLevels)
                {
                    <tr>
                        @if (firstRow)
                        {
                            <th colspan="6" rowspan="@headerLevels.Count()">
                                Grid Name
                            </th>
                            <th id="RowText" style="display:none;">
                            </th>
                        }
                        @foreach (var header in Model.ColumnHeaders.Where(h => h.Level == level).OrderBy(h => h.Order))
                        {
                            <th scope="col" colspan="@header.ColSpan">
                                @header.Text
                            </th>
                        }
                        @{ firstRow = false; }
                    </tr>
                }
            </thead>
            <tbody>
                <tr ng-repeat="row in gridCtrl.GridVm.DataRows track by row.RowCode" ng-controller="rowController as rowCtrl" ng-switch="row.Class">

                    @*Header Row*@
                    <td class="{{row.Class}}" ng-switch-when="header-row" colspan="@(Model.DataRows[0].Cells.Count + 3)">
                        {{row.Text}}
                        <br />
                    </td>

                    @*Data Row*@
                    @if (Model.HasCollapseColumn)
                    {
                        <td ng-switch-when="data-row">
                            <i class="fa fa-plus fa-lg" ng-show="row.CanCollapse"></i>
                        </td>
                    }
                    @if (Model.HasSelectColumn)
                    {
                        <td ng-switch-when="data-row">
                            <input type="checkbox" ng-show="row.CanSelect" ng-model="row.IsSelected">
                        </td>
                    }
                    @if (Model.HasCrudColumn)
                    {
                        <td ng-switch-when="data-row">
                            <div ng-switch="row.CrudFunctionality">
                                <i class="fa fa-user-plus fa-lg" ng-switch-when="create" style="cursor:pointer" ng-click="rowCtrl.addRow()"></i>
                                <i class="fa fa-trash fa-lg" ng-switch-when="delete" style="cursor:pointer" ng-click="rowCtrl.deleteRow()"></i>
                            </div>
                        </td>
                    }
                    @for(int i = 0; i < Model.DataRows[0].Cells.Count(); i++)
                    {
                        var cell = Model.DataRows[0].Cells[i];
                        var type = cell.GetType().ToString();
                        switch (type)
                        {
                            case "ExhibitGrid.ViewModel.v2.TextCellVm":
                                <th scope="row" ng-switch-when="data-row">
                                    <div text-cell cell-vm="row.Cells[@i]" >
                                    </div>
                                </th>
                                break;
                            case "ExhibitGrid.ViewModel.v2.DataCellVm":
                                <td ng-switch-when="data-row">
                                    @cell.ColCode
                                </td>
                                break;
                            case "ExhibitGrid.ViewModel.v2.NarrativeCellVm":
                                <td ng-switch-when="data-row">
                                    @cell.ColCode
                                </td>
                                break;
                            case "ExhibitGrid.ViewModel.v2.PostItCellVm":
                                <td ng-switch-when="data-row">
                                    <div postit-cell cell-vm="row.Cells[@i]">
                                    </div>
                                </td>
                                break;
                        }
                    }
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script>

    (function (gridModel) {

        gridModel.currentGrid = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

    }(window.gridModel = window.gridModel || {} ));

</script>
